<nz-page-header class="site-page-header" nzTitle="Cotizaciones" nzSubtitle="Listado de cotizaciones generadas"></nz-page-header>
<div class="table-operations">
    <button nz-button (click)="nuevo()">Agregar</button>

</div>

<nz-table [nzLoading]="cargando" #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
        <tr>
            <!-- <th>#</th> -->
            <th nzCustomFilter>
                Fecha
                <!-- <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger> -->
            </th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cotizacion of nzTable.data; let i = index">
            <!-- <td>{{ i+1}}</td> -->
            <td>{{ cotizacion.fecha }}</td>
            <td>{{cotizacion.cliente.nombre}}</td>
            <td>
                <nz-tag *ngIf="cotizacion.anulado === true || cotizacion.anulado === 1" [nzColor]="'#f50'">Anulado</nz-tag>
            </td>
            <td align="right">$100</td>
            <td>
                <button (click)="edit(cotizacion.id)" nz-button>Detalle</button>
                <button nz-popconfirm nzPopconfirmTitle="Seguro quieres eliminar?" (nzOnConfirm)="eliminar(cotizacion.id)" nz-button>Eliminar</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Buscar nombre" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Buscar
        </button>
            <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
    </div>
</nz-dropdown-menu>
