     .login-form {
         max-width: 100%;
     }
     
     .login-form-margin {
         margin-bottom: 16px;
     }
     
     .login-form-forgot {
         float: right;
     }
     
     .login-form-button {
         width: 100%;
     }
     
     [nz-row] {
         height: 100%;
     }
     
     .login-main {
         background: url('/assets/img/background-login.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }
     
     i {
         cursor: pointer;
     }