<nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header" nzTitle="Cotización" [nzSubtitle]="subtitulo"></nz-page-header>
<app-error [error]="error"></app-error>
<form *ngIf="id === 'nuevo'" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Fecha</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese una fecha!">
            <nz-date-picker [nzFormat]="dateFormat" formControlName="fecha" id="fecha"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Cliente</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor nombre de cliente !">
            <div class="example-input">
                <input placeholder="Nombre de cliente" nz-input formControlName="nombre" id="nombre" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto" />
                <nz-autocomplete #auto>
                    <nz-auto-option *ngFor="let data of filteredOptions" (click)="seleccionado(data)" [nzValue]="data.nombre">{{data.nombre}}</nz-auto-option>
                </nz-autocomplete>
                <span *ngIf="clienteSeleccionado.id>0" nz-typography nzType="success"><strong>Cliente: {{clienteSeleccionado.nombre}} </strong> <i style="cursor: pointer;" (click)="quitarClienteSeleccionado()" nz-icon nzType="close-circle" nzTheme="outline"></i></span>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identificador">Cedula/Ruc</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese cedula o ruc valida!">
            <input #identificador nz-input formControlName="identificador" id="identificador" />
            <!-- <a nz-button (click)="consumidorFinal()" nzType="link">Consumidor final <i nz-icon nzType="arrow-up" nzTheme="outline"></i></a> -->
            <label formControlName="final" nz-checkbox (click)="consumidorFinal()">Consumidor final</label>
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col [nzSpan]="14" [nzOffset]="6">
            <nz-table [nzSize]="'small'" [nzFooter]="footer" [nzShowPagination]="false" [nzData]="[{}]" #editRowTable nzBordered>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Detalle</th>
                        <th>Cantidad</th>
                        <th>Iva</th>
                        <th>Valor unit.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="detalles">
                    <tr [formGroupName]="i" *ngFor="let control of detalles.controls; let i = index">
                        <td>
                            <nz-form-control nzErrorTip="Por favor seleccione un producto!">
                                <nz-select (ngModelChange)="actualizarValor($event, i)" formControlName="producto_id" nzAllowClear nzPlaceHolder="Eligir producto" nzShowSearch>
                                    <nz-option-group *ngFor="let cat of productosCategorizados" [nzLabel]="cat.nombre">
                                        <nz-option *ngFor="let prod of cat.productos" [nzValue]="prod.id" [nzLabel]="prod.nombre"></nz-option>
                                    </nz-option-group>
                                </nz-select>
                            </nz-form-control>
                        </td>
                        <td>
                            <nz-form-control nzErrorTip="Por favor ingrese una descripcion corta!">
                                <input class="input-descripcion" nz-input formControlName="descripcion" id="descripcion" />
                            </nz-form-control>
                        </td>
                        <td>
                            <nz-form-control nzErrorTip="Por favor ingrese una cantidad mayor a 0!">
                                <nz-input-number (ngModelChange)="actualizarValor($event,i)" class="input-numero" formControlName="cantidad" [nzMin]="1" [nzStep]="1"></nz-input-number>
                            </nz-form-control>

                        </td>
                        <td>
                            <nz-select (ngModelChange)="actualizarValor($event,i)" class="input-porcentaje" formControlName="iva">
                                <nz-option *ngFor="let porc of porcetantajesIva" [nzValue]="porc" nzLabel="{{porc}} %"></nz-option>
                            </nz-select>
                        </td>
                        <td>
                            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" class="input-numero" formControlName="valorunitario" [nzMin]="1" [nzStep]="1"></nz-input-number>
                        </td>
                        <td>
                            <i (click)="eliminarDetalle(i)" nz-icon nzType="delete" class="dynamic-delete-button"></i>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <!-- <nz-table [nzBordered]="false" nzSize="small" [nzShowPagination]="false" [nzData]="[{}]">
                <tbody>
                    <tr class="detalle-tabla">
                        <td>Subtotal</td>
                        <td align="right">
                            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="subtotal"></nz-input-number>
                        </td>
                    </tr>
                    <tr>
                        <td>Iva 12%</td>
                        <td align="right">
                            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="iva12"></nz-input-number>
                        </td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td align="right">
                            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="total"></nz-input-number>
                        </td>
                    </tr>
                </tbody>
            </nz-table> -->
        </div>
    </div>

    <ng-template #footer>
        <button (click)="agregarDetalles()" nz-button nzType="default" type="button">Agregar producto</button>
    </ng-template>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Subtotal</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="No se obtuvo el subtotal!">
            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="valorsubtotal"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Descuento (-) </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor seleccione un tipo de descuento!">
            <nz-input-number style="margin-right: 10px;" [nzDisabled]="true" [nzMin]="0" [nzStep]="1" formControlName="valordescuento" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
            <nz-input-number (ngModelChange)="obtenerResultados()" [nzMin]="0" [nzStep]="1" formControlName="descuento" [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Iva 12% (+) </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="No se obtuvo el valor del iva!">
            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="valoriva"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Total</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="No se obtuvo el total!">
            <nz-input-number [nzFormatter]="formatterDollar" [nzParser]="parserDollar" [nzDisabled]="true" formControlName="valortotal"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button [nzLoading]="cargando" nz-button nzType="primary">Guardar</button>
        </nz-form-control>
    </nz-form-item>
</form>

<div nz-form *ngIf="cotizacion && cotizacion.id>0">
    <nz-alert *ngIf="cotizacion.anulado === 1" nzType="warning" nzMessage="Está cotización se encuentra anulada." nzShowIcon></nz-alert>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Fecha</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">{{cotizacion.fecha}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Cliente</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">{{cotizacion.cliente.nombre}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Cedula/Ruc</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">{{cotizacion.cliente.identificador}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Subtotal</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">$ {{cotizacion.valorsubtotal}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row *ngIf="cotizacion.valordescuento > 0">
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Descuento {{cotizacion.descuento | number}}%</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">$ {{cotizacion.valordescuento}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Iva 12%</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">$ {{cotizacion.valoriva}}</nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">Total</nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">$ {{cotizacion.valortotal}}</nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col [nzSpan]="20" [nzOffset]="6">
            <nz-table [nzSize]="'small'" [nzShowPagination]="false" [nzData]="cotizacion.detalles" #detalleTable nzBordered>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Detalle</th>
                        <th>Cantidad</th>
                        <th>Iva</th>
                        <th>Valor unit.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of detalleTable.data">
                        <td>{{data.producto.nombre}}</td>
                        <td>{{data.descripcion}}</td>
                        <td align="right">{{data.cantidad}}</td>
                        <td align="right">{{data.iva}}%</td>
                        <td align="right">$ {{data.valorunitario}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-form-item style="margin-top: 15px;">
        <nz-form-control nz-col [nzSpan]="20" [nzOffset]="6">
            <button [disabled]="cargando" [nzLoading]="cargando" (click)="descargar()" nz-button nzType="primary"><i nz-icon nzType="download"></i>Descargar</button>
            <button nz-popconfirm nzPopconfirmTitle="Seguro quieres anular?" (nzOnConfirm)="anular(cotizacion.id)" *ngIf="cotizacion.anulado === 0" [disabled]="cargando" [nzLoading]="cargando" nz-button nzDanger nzType="primary"><i nz-icon nzType="stop"></i>Anular</button>
        </nz-form-control>
    </nz-form-item>
</div>