<nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header" nzTitle="Productos" [nzSubtitle]="subtitulo"></nz-page-header>
<app-error [error]="error"></app-error>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Categoria</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor seleccione una categoria!">
            <nz-select formControlName="categoria_id" id="categoria_id" nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" nzPlaceHolder="Categorias de producto">
                <nz-option *ngFor="let categoria of categorias" [nzLabel]="categoria.nombre" [nzValue]="categoria.id"></nz-option>
            </nz-select>
            <ng-template #renderTemplate>
                <nz-divider></nz-divider>
                <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a class="add-item" (click)="addItem(inputElement)"><i nz-icon nzType="plus"></i> Agregar categoria</a>
                </div>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese un nombre de producto!">
            <input nz-input formControlName="nombre" id="nombre" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Precio</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese un precio mayor a cero!">
            <nz-input-number formControlName="precio" id="precio" [nzMin]="1" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button [nzLoading]="cargando" nz-button nzType="primary">Guardar</button>
        </nz-form-control>
    </nz-form-item>
</form>
